{% extends 'layout.html' %}

{% block content %}

<form action="/upload" method="POST" enctype="multipart/form-data" class="col s12">
    <div class="file-field input-field">
        <div class="btn blue">
            <span><i class="material-icons">attach_file</i> File</span>
            <input type="file" name="file">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
        </div>
        <div class="input-field col s6">
            <input id="last_name" type="submit" class="btn blue">
        </div>
    </div>
</form>
{% endblock %}